# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Gradle
.gradle/
app/build/
build/
app/tmp/
app/debug.keystore
local.properties

# Native build caches
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Build outputs
app/build/outputs/

# IDE
.idea/
.vscode/
*.iml

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local environment files
.env*.local

# TypeScript
*.tsbuildinfo

# Captures
captures/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
